#root {
  height: 100%;
  width: 100%;
}


@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.Toastify__toast-container {
  width: 360px !important;
  right: 20px !important;
  top: 20px !important;
}

.Toastify__toast {
  height: auto !important;
  min-height: 64px !important;
}

.Toastify__toast-body {
  text-align: left !important;
}